* {
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-size: inherit;
  font-weight: inherit;
}

body {
  padding: 0px 50px;
  font-family: "Lato";
  min-width: 910px;
}

header {
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 93px;
}

#sort-section {
  width: 100%;
}

#sort-section #search-bar {
  width: 100%;
  height: 69px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#sort-section #search-bar #search-input {
  width: 100%;
  height: 100%;
  border: inherit;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 1.125em;
  font-weight: 400;
}

#sort-section #search-bar #search-input::placeholder {
  color: black;
  opacity: 0.25;
  font-family: 1.125em;
  font-weight: 400;
}

#sort-section #search-bar i {
  position: relative;
  right: 45px;
}

#sort-section #search-bar i:hover {
  cursor: pointer;
}

#tags-displaying {
  display: flex;
  flex-wrap: wrap;
}

#tags-displaying .tag-picked-container {
  margin-right: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  display: flex;
  margin-bottom: 15px;
}

#tags-displaying .ingredients-tag {
  background-color: #3282f7;
}

#tags-displaying .devices-tag {
  background-color: #68d9a4;
}

#tags-displaying .ustensils-tag {
  background-color: #ed6454;
}

#tags-displaying .tag-picked-container .text {
  margin-right: 10px;
  cursor: default;
}

#tags-displaying .tag-picked-container .close-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#sort-section #tags-selection {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  display: flex;
}

#sort-section #tags-selection .tag-selector {
  margin-right: 20px;
  width: 185px;
  height: 69px;
  display: flex;
  position: relative;
  border-radius: 5px;
}

#sort-section #tags-selection .tag-selector .tag-button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

#sort-section #tags-selection .tag-selector input {
  width: 100%;
  padding: 0px 19px;
  border-radius: 5px;
  overflow: hidden;
  font-weight: 400;
}

#sort-section #tags-selection .open input {
  border-radius: 5px 5px 0px 0px;
}

#sort-section #tags-selection .ingredients {
  background-color: #3282f7;
}

#sort-section #tags-selection .tag-selector i {
  position: absolute;
  color: white;
  right: 19px;
  top: 25.5px;
}

#sort-section #tags-selection .tag-selector .tag-button {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  font-weight: 700;
  font-weight: 1.125em;
  border: none;
}

#sort-section #tags-selection .tag-selector .tag-button::placeholder {
  color: white;
}

#sort-section #tags-selection .tag-selector .tag-button:focus {
  border: none;
  outline: none;
  caret-color: transparent;
}

#sort-section #tags-selection .open .tag-button:focus {
  caret-color: white;
}

#sort-section #tags-selection .open {
  width: 667px;
  border-radius: 5px 5px 0px 0px;
}

#sort-section #tags-selection .open input:focus::placeholder {
  color: transparent;
}

#sort-section #tags-selection .tag-selector .ingredients-container {
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  width: auto;
  height: auto;
  max-height: 350px;
  top: 69px;
  left: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
  background-color: #3282f7;
}

/* #sort-section #tags-selection .tag-selector .ingredients-container::after {
  content: "";
  flex: auto;
} */

#sort-section #tags-selection .tag-selector .ingredients-container #ingredients-error {
  display: flex;
}

#sort-section #tags-selection .tag-selector .devices-container {
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  width: auto;
  height: auto;
  max-height: 350px;
  top: 69px;
  left: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
  background-color: #68d9a4;
}

/* #sort-section #tags-selection .tag-selector .devices-container::after {
  content: "";
  flex: auto;
} */

#sort-section #tags-selection .tag-selector .ustensils-container {
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  width: auto;
  height: auto;
  max-height: 350px;
  top: 69px;
  left: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;
  color: white;
  background-color: #ed6454;
}

/* #sort-section #tags-selection .tag-selector .ustensils-container::after {
  content: "";
  flex: auto;
} */

#sort-section #tags-selection .tag-selector .extended {
  transition-duration: 0.5s;
  display: flex;
  width: 667px;
}

#sort-section #tags-selection .tag-selector .tag-container::-webkit-scrollbar {
  display: none;
}

#sort-section #tags-selection .tag-selector .ingredients-container .tag {
  width: 32.5%;
  height: 35px;
  background-color: #3282f7;
  padding-left: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

#sort-section #tags-selection .tag-selector .devices-container .tag {
  width: 32.5%;
  height: 35px;
  background-color: #68d9a4;
  padding-left: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

#sort-section #tags-selection .tag-selector .ustensils-container .tag {
  width: 32.5%;
  height: 35px;
  background-color: #ed6454;
  padding-left: 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

#sort-section #tags-selection .tag-selector .tag-error {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 5px;
}

#sort-section #tags-selection .tag-selector .tag:hover {
  filter: brightness(110%);
  cursor: pointer;
}

#sort-section #tags-selection .tag-selector #ingredients {
  background-color: #3282f7;
}

#sort-section #tags-selection .tag-selector #devices {
  background-color: #68d9a4;
}

#sort-section #tags-selection .tag-selector #ustensils {
  background-color: #ed6454;
}

#error-section {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-direction: column;
}

#error-section .error-msg {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0px 175px;
  text-align: center;
  margin-bottom: 13px;
}

#recipes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  margin-bottom: 40px;
}

/* #recipes-container::after {
  content: "";
  flex: auto;
}
 */
#recipes-container article {
  height: auto;
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
}

#recipes-container article:hover {
  cursor: pointer;
}

article .img-emplacement {
  height: 178px;
  width: auto;
  background-color: #c7bebe;
}

article .description {
  background-color: #e7e7e7;
  padding: 20px;
  height: 100%;
}

article .description .description-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

article .description .description-header h2 {
  font-size: 1.125em;
  font-weight: 400;
  margin-right: 10px;
  width: 65%;
}

article .description .description-header .cooking-time {
  font-size: 1.125em;
  font-weight: 700;
  width: auto;
}

article .description .description-header .cooking-time i {
  padding-right: 5px;
}

article .description .description-content {
  font-size: 0.75em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

article .description .description-content .ingredients-list {
  width: 43%;
}

article .description .description-content .ingredients-list .ingredient {
  font-weight: 900;
}

article .description .description-content .recipe-text-container {
  width: 50%;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0px 50px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0px 120px;
  }
}

@media screen and (min-width: 1800px) {
  body {
    padding: 0px 300px;
  }
}
